<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <div class="page__top about">
                <h1>@_localization.Getkey("text-products")</h1>
                <h2><a href="/Home">@_localization.Getkey("text-home")</a> > @_localization.Getkey("text-products")</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row product__list">
        <div class="col-xl-3 px-0">
            <div class="product__list--category">
                <h1 class="h5">@_localization.Getkey("text-all-categories")</h1>
                <ul>
                    <a href="">
                    <li>Üst Giyim Askıları</li>
                    </a>
                    <a href="">
                    <li>Alt Giyim Askıları</li>
                    </a>
                    <a href="">
                    <li>Çocuk Askıları</li>
                    </a>
                    <a href="">
                    <li>Takım & Kurutemizleme Askıları</li>
                    </a>
                    <a href="">
                    <li>Takım & Kurutemizleme Askıları</li>
                    </a>
                    <a href="">
                    <li>Takım & Kurutemizleme Askıları</li>
                    </a>
                    <a href="">
                    <li>Takım & Kurutemizleme Askıları</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-xl-9">
            <div class="row">
                <div class="col-12 pb-3 mb-3 border-bottom product__list--info">
                    @_localization.Getkey("text-total") 13 tane <b>Elbise Askısı</b> @_localization.Getkey("text-find")
                </div>
            </div>
            <div class="row product__list--list">
                <div class="col-md-4 col-6 mb-lg-0 mb-2 product__list--list--item p-0 px-1">
                    <div class="product">
                        <a href="/Product/ProductDetail" class="text-decoration-none">
                            <div class="product__images">
                                <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                            </div>
                            <div class="product__color">
                                <div class="product__color--item black" title="Siyah">
                                </div>
                                <div class="product__color--item white" title="Beyaz">
                                </div>
                                <div class="product__color--item half-white" title="Kırık Beyaz">
                                </div>
                            </div>
                            <div class="product__content">
                                <h1>Üst giyim elbise askısı</h1>
                                <div class="product__content--category">
                                    @_localization.Getkey("home-product-category") : Elbise Askıları
                                </div>
                                <div class="product__content--model d-flex">
                                    <span>@_localization.Getkey("home-product-code") : </span>
                                    <h2>T43</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-6 mb-lg-0 mb-2  p-0 px-1">
                    <div class="product">
                        <a href="#" class="text-decoration-none">
                            <div class="product__images">
                                <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                            </div>
                            <div class="product__color">
                                <div class="product__color--item black" title="Siyah">
                                </div>
                                <div class="product__color--item white" title="Beyaz">
                                </div>
                                <div class="product__color--item half-white" title="Kırık Beyaz">
                                </div>
                            </div>
                            <div class="product__content">
                                <h1>Üst giyim elbise askısı</h1>
                                <div class="product__content--category">
                                    @_localization.Getkey("home-product-category") : Elbise Askıları
                                </div>
                                <div class="product__content--model d-flex">
                                    <span>@_localization.Getkey("home-product-code") : </span>
                                    <h2>T43</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-6 mb-lg-0 mb-1 p-0 px-1">
                    <div class="product">
                        <a href="#" class="text-decoration-none">
                            <div class="product__images">
                                <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                            </div>
                            <div class="product__color">
                                <div class="product__color--item black" title="Siyah">
                                </div>
                                <div class="product__color--item white" title="Beyaz">
                                </div>
                                <div class="product__color--item half-white" title="Kırık Beyaz">
                                </div>
                            </div>
                            <div class="product__content">
                                <h1>Üst giyim elbise askısı</h1>
                                <div class="product__content--category">
                                    @_localization.Getkey("home-product-category") : Elbise Askıları
                                </div>
                                <div class="product__content--model d-flex">
                                    <span>@_localization.Getkey("home-product-code") : </span>
                                    <h2>T43</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-6 mb-lg-0 mb-1 mt-2 p-0 px-1">
                    <div class="product">
                        <a href="#" class="text-decoration-none">
                            <div class="product__images">
                                <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                            </div>
                            <div class="product__color">
                                <div class="product__color--item black" title="Siyah">
                                </div>
                                <div class="product__color--item white" title="Beyaz">
                                </div>
                                <div class="product__color--item half-white" title="Kırık Beyaz">
                                </div>
                            </div>
                            <div class="product__content">
                                <h1>Üst giyim elbise askısı</h1>
                                <div class="product__content--category">
                                    @_localization.Getkey("home-product-category") : Elbise Askıları
                                </div>
                                <div class="product__content--model d-flex">
                                    <span>@_localization.Getkey("home-product-code") : </span>
                                    <h2>T43</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-6 mb-lg-0 mb-1 mt-2 p-0 px-1">
                    <div class="product">
                        <a href="#" class="text-decoration-none">
                            <div class="product__images">
                                <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                            </div>
                            <div class="product__color">
                                <div class="product__color--item black" title="Siyah">
                                </div>
                                <div class="product__color--item white" title="Beyaz">
                                </div>
                                <div class="product__color--item half-white" title="Kırık Beyaz">
                                </div>
                            </div>
                            <div class="product__content">
                                <h1>Üst giyim elbise askısı</h1>
                                <div class="product__content--category">
                                    @_localization.Getkey("home-product-category") : Elbise Askıları
                                </div>
                                <div class="product__content--model d-flex">
                                    <span>@_localization.Getkey("home-product-code") : </span>
                                    <h2>T43</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-6 mb-lg-0 mb-4 mt-2 p-0 px-1">
                    <div class="product">
                        <a href="#" class="text-decoration-none">
                            <div class="product__images">
                                <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                            </div>
                            <div class="product__color">
                                <div class="product__color--item black" title="@_localization.Getkey("text-black")">
                                </div>
                                <div class="product__color--item white" title="@_localization.Getkey("text-white")">
                                </div>
                                <div class="product__color--item half-white" title="@_localization.Getkey("text-halfwhite")">
                                </div>
                            </div>
                            <div class="product__content">
                                <h1>Üst giyim elbise askısı</h1>
                                <div class="product__content--category">
                                    @_localization.Getkey("home-product-category") : Elbise Askıları
                                </div>
                                <div class="product__content--model d-flex">
                                    <span>@_localization.Getkey("home-product-code") : </span>
                                    <h2>T43</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>