<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <div class="page__top about">
                <h1>MAU 45 Elbise Askısı</h1>
                <h2>
                    <a href="/Home">@_localization.Getkey("text-home")</a> > <a href="/Product/ProductList">@_localization.Getkey("text-products")</a>  > MAU 45</a> Elbise
                    Askısı
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row product__detail">
        <div class="col-xl-6">
            <div class="product__detail--product-img">
                <div class="slider-for">
                    <div>
                        <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="~/img/products/saki.webp" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                    </div>
                    <div>
                        <img src="~/img/products/saki.webp" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="product__detail--product-img--images">
                    <div class="slider-nav">
                        <div>
                            <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                        </div>
                        <div>
                            <img src="~/img/products/saki.webp" class="img-fluid" alt="">
                        </div>
                        <div>
                            <img src="~/img/products/saki.webp" class="img-fluid" alt="">
                        </div>
                        <div>
                            <img src="~/img/products/saki.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="product__detail--product-content">
                <div class="product__detail--product-content--heading">
                    <h1> <span>MAU 45</span> | Elbise Askısı</h1>
                    <h2>Elbise Askıları</h2>
                </div>
                <div class="product__detail--product-content--desc">
                    <p>
                        Kodu MAU30-35 cm eninde olan üst giyim plastik çocuk askısı iki ayrı ölçüden oluşmaktadır. Ölçüleri 30cm
                        ve 35cm dir. MAU30 3-6 yaş arası, MAU35 6-12 yaş arası kullanılmaktadır. Toptan satışı istediğiniz adede
                        göre fiyatlandırılmaktadır.
                    </p>
                </div>
                <div class="product__detail--product-content--box-info  mt-4">
                    <div class="row">
                        <div class="product__detail--product-content--info--heading">
                            <p>@_localization.Getkey("box-info")</p>
                        </div>
                        <div class="col-xl-4 col-6">
                            <div class="product__detail--product-content--box-info--box">
                                <div class="product__detail--product-content--box-info--box--icon">
                                    <i class="bi bi-123"></i>
                                </div>
                                <div class="product__detail--product-content--box-info--box--text">
                                    <p>@_localization.Getkey("text-per")</p>
                                    <span>592</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-6">
                            <div class="product__detail--product-content--box-info--box">
                                <div class="product__detail--product-content--box-info--box--icon">
                                    <i class="bi bi-box-seam"></i>

                                </div>
                                <div class="product__detail--product-content--box-info--box--text">
                                    <p>@_localization.Getkey("text-weight")</p>
                                    <span>19.5</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 mt-xl-0 mt-3">
                            <div class="product__detail--product-content--box-info--box">
                                <div class="product__detail--product-content--box-info--box--icon">
                                    <i class="bi bi-rulers"></i>

                                </div>
                                <div class="product__detail--product-content--box-info--box--text">
                                    <p>@_localization.Getkey("text-meters")</p>
                                    <span> 63x41x56</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 mt-3">
                            <div class="product__detail--product-content--box-info--box">
                                <div class="product__detail--product-content--box-info--box--icon">
                                    <i class="bi bi-truck"></i>

                                </div>
                                <div class="product__detail--product-content--box-info--box--text">
                                    <p>@_localization.Getkey("text-delivery-info")</p>
                                    <span>
                                        PTT, Ambar ve Kargo firmaları ile gönderim sağlanmaktadır. Gönderim hızı ve maliyeti
                                        seçeceğiniz
                                        gönderim şekline göre değişiklik gösterecektir.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 mt-2">
                            <div class="product__detail--product-content--info--heading">
                                <p>@_localization.Getkey("text-colors")</p>
                            </div>
                            <div class="product__detail--product-content--box-info--color">
                                <div class="product__detail--product-content--box-info--color--item">
                                    <div class="black"></div>
                                    <p>@_localization.Getkey("text-black")</p>
                                </div>
                                <div class="product__detail--product-content--box-info--color--item">
                                    <div class="white"></div>
                                    <p>@_localization.Getkey("text-white")</p>
                                </div>
                                <div class="product__detail--product-content--box-info--color--item">
                                    <div class="half-white"></div>
                                    <p>@_localization.Getkey("text-halfwhite")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 mt-2">
                            <div class="product__detail--product-content--info--heading">
                                <p>@_localization.Getkey("text-price-info")</p>
                            </div>
                            <div class="product__detail--product-content--box-info--price">
                                <span>@_localization.Getkey("text-total-price-info")</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 mt-2">
                            <div class="product__detail--product-content--info--heading">
                                <p>@_localization.Getkey("text-contact-info")</p>
                            </div>
                            <div class="product__detail--product-content--box-info--contact">
                                <div class="product__detail--product-content--box-info--contact--whatsapp contact-button">
                                    <i class="fa-brands fa-whatsapp"></i>
                                    <p>Whatsapp</p>
                                </div>
                                <div class="product__detail--product-content--box-info--contact--tel contact-button">
                                    <i class="fa-light fa-phone"></i>
                                    <p>@_localization.Getkey("text-phone")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-4">
        <div class="product__detail--product-content--info--heading">
            <p>@_localization.Getkey("text-same-products")</p>
        </div>
        <div class="col-xl-3 col-6 mb-lg-0 mb-2 p-0 px-1">
            <div class="product">
                <a href="#" class="text-decoration-none">
                    <div class="product__images">
                        <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                    </div>
                    <div class="product__color">
                        <div class="product__color--item black" title="Siyah">
                        </div>
                        <div class="product__color--item white" title="Beyaz">
                        </div>
                        <div class="product__color--item half-white" title="Kırık Beyaz">
                        </div>
                    </div>
                    <div class="product__content">
                        <h1>Üst giyim elbise askısı</h1>
                        <div class="product__content--category">
                            @_localization.Getkey("home-product-category") :
                        </div>
                        <div class="product__content--model d-flex">
                            <span>@_localization.Getkey("home-product-code") :</span> <h2>T43</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-6 mb-lg-0 mb-2 p-0 px-1">
            <div class="product">
                <a href="#" class="text-decoration-none">
                    <div class="product__images">
                        <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                    </div>
                    <div class="product__color">
                        <div class="product__color--item black" title="Siyah">
                        </div>
                        <div class="product__color--item white" title="Beyaz">
                        </div>
                        <div class="product__color--item half-white" title="Kırık Beyaz">
                        </div>
                    </div>
                    <div class="product__content">
                        <h1>Üst giyim elbise askısı</h1>
                        <div class="product__content--category">
                            @_localization.Getkey("home-product-category") :
                        </div>
                        <div class="product__content--model d-flex">
                            <span>@_localization.Getkey("home-product-code") :</span> <h2>T43</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-6 mb-lg-0 mb-2 p-0 px-1">
            <div class="product">
                <a href="#" class="text-decoration-none">
                    <div class="product__images">
                        <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                    </div>
                    <div class="product__color">
                        <div class="product__color--item black" title="Siyah">
                        </div>
                        <div class="product__color--item white" title="Beyaz">
                        </div>
                        <div class="product__color--item half-white" title="Kırık Beyaz">
                        </div>
                    </div>
                    <div class="product__content">
                        <h1>Üst giyim elbise askısı</h1>
                        <div class="product__content--category">
                            @_localization.Getkey("home-product-category") :
                        </div>
                        <div class="product__content--model d-flex">
                            <span>@_localization.Getkey("home-product-code") :</span> <h2>T43</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-6 mb-lg-0 mb-2 p-0 px-1">
            <div class="product">
                <a href="#" class="text-decoration-none">
                    <div class="product__images">
                        <img src="~/img/products/aski.webp" class="img-fluid" alt="">
                    </div>
                    <div class="product__color">
                        <div class="product__color--item black" title="Siyah">
                        </div>
                        <div class="product__color--item white" title="Beyaz">
                        </div>
                        <div class="product__color--item half-white" title="Kırık Beyaz">
                        </div>
                    </div>
                    <div class="product__content">
                        <h1>Üst giyim elbise askısı</h1>
                        <div class="product__content--category">
                            @_localization.Getkey("home-product-category") :
                        </div>
                        <div class="product__content--model d-flex">
                            <span>@_localization.Getkey("home-product-code") :</span> <h2>T43</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>